
@font-face {
  font-family: "HRegular";
  src: url("../fonts/OpenSansRegular/HeliosCondRegular.eot");
  src: url("../fonts/OpenSansRegular/HeliosCondRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansRegular/HeliosCondRegular.woff") format("woff"),
  url("../fonts/OpenSansRegular/HeliosCondRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HSemiBold";
  src: url("../fonts/OpenSansSemiBold/HeliosCondBold.eot");
  src: url("../fonts/OpenSansSemiBold/HeliosCondBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansSemiBold/HeliosCondBold.woff") format("woff"),
  url("../fonts/OpenSansSemiBold/HeliosCondBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}